*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* max-height: 100vh; */
}

.barra{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.figure-img{
    display: flex;
    padding-left: 10%;
    padding-top: 5%;
}

.navbar-nav{
    display: flex;
    font-size: 20px;
}
.container-fluid .collapse{
    display: flex;
    justify-content: flex-end;
}
.nav-item{
    display: flex;
    background-color: #D90368;
    margin: 15px;
    width: 112px;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: 500; 
}
.nav-link{
    display: flex;
    align-items: center;
}
.below-bar{
    display: flex;
    width: 100%;
    background:#fc7cb9;
    justify-content: center;
    justify-content: space-between;
}
.title-page{
    padding: 10px;
    font-weight: 700;
    font-size: 50px;

}
.btn{
    height: auto;
    border: none;
    font-size: 50px;
    font-weight: 700;
}
.carousel-columna{
    display: flex;
    flex-direction: row;
}
footer{
    background: #6a123d;
    max-height: 10vh;
}



